@media screen and (min-width: 720px)

  $gutter = 30px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 4)
  $margin-large = ($gutter * 8)

  $font-size-basic = 18px
  $font-size-small = $font-size-basic * .5
  $font-size-mid = $font-size-basic * 1.5
  $font-size-large = $font-size-basic * 3

  grid-maker(100%, $gutter, m)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small)

  .mobile-only
    display: none !important

  // ******************************************************

  // HEADER

  #nav-about
    order: 1
    text-align: center

  #nav-stockists
    order: 3
    text-align: center

  #site-title
    order: 2
